﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model IEnumerable<Addresses>
<input type="hidden" name="accion" value="@ViewBag.Accion" />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @if (ViewBag.Accion == "Create" || ViewBag.Accion == "Edit")
                {
                    <button type="submit" class="btn btn-primary" formaction="@Url.Action("AgregarDetalles")">Agregar</button>
                }

            </th>
        </tr>

    </thead>
    <tbody>
        @{
            int index = -1;
        }
        @if (Model != null && Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                index++;
                // var hidde = "table";
                if (item.Id > -1)
                {
                    <tr>
                        <td>
                            <input type="hidden" value="@item.Id" name="Addresses[@index].Id">
                            <input type="hidden" value="@item.EmployeeId" name="Addresses[@index].EmployeeId">
                            <input class="form-control" data-readonly type="text" name="Addresses[@index].Street" value="@item.Street">
                        </td>
                        <td>
                            <input class="form-control" data-readonly type="number" name="Addresses[@index].City" value="@item.City">
                        </td>
                        <td>
                            <input class="form-control" data-readonly type="text" name="Addresses[@index].State" value="@item.State">
                        </td>
                        <td>
                            <input class="form-control" data-readonly type="text" name="Addresses[@index].Country" value="@item.Country">
                        </td>
                        <td>
                            <input class="form-control" data-readonly type="text" name="Addresses[@index].PostalCode" value="@item.PostalCode">
                        </td>
                        <td>
                            <input class="form-control" data-readonly type="text" name="Addresses[@index].Employee" value="@item.Employee">
                        </td>
                        <td>
                            @if (ViewBag.Accion == "Create" || ViewBag.Accion == "Edit")
                            {
                                <button name="index" value="@index" class="btn btn-primary" type="submit" formaction="@Url.Action("EliminarDetalles")">Eliminar</button>
                            }

                        </td>
                    </tr>
                }
                else
                {
                    <tr style="display:none">
                        <td>
                            <input type="hidden" value="@item.Id" name="Addresses[@index].Id">
                            <input type="hidden" value="@item.EmployeeId" name="Addresses[@index].EmployeeId">
                            <input type="hidden" name="Addresses[@index].Street" value="@item.Street">
                            <input type="hidden" name="Addresses[@index].City" value="@item.City">
                            <input type="hidden" name="Addresses[@index].State" value="@item.State">
                            <input type="hidden" name="Addresses[@index].Country" value="@item.PrecioUnitario">
                            <input type="hidden" name="Addresses[@index].PrecioUnitario" value="@item.Country">
                            <input type="hidden" name="Addresses[@index].Employee" value="@item.Employee">
                        </td>
                    </tr>
                }
            }
        }

    </tbody>
</table>
@if (ViewBag.Accion == "Details" || ViewBag.Accion == "Delete")
{
    <script>
        const readOnly = document.querySelectorAll("*[data-readonly]");
        for (var i = 0; i < readOnly.length; i++) {
            const item = readOnly[i];
            item.setAttribute("readonly", true);
        }

    </script>
}
